%h1 This is the Home Page
%h3 This site is all about me and what I like.
= image_tag "http://comments16.com/wp-content/uploads/2009/03/gangstachimp231.jpg"
= image_tag "http://t.qkme.me/3rh21h.jpg"
= image_tag "http://t.qkme.me/359unn.jpg"
= image_tag "http://t.qkme.me/ES.jpg"
= image_tag "http://t.qkme.me/3q7k79.jpg"
= image_tag "http://t.qkme.me/3rexlh.jpg"
= image_tag "http://t.qkme.me/3rfy0u.jpg"
= image_tag "http://t.qkme.me/3r8aci.jpg"
= image_tag "http://t.qkme.me/3rf3qi.jpg"
= image_tag "http://t.qkme.me/3qd6d9.jpg"
= image_tag "http://t.qkme.me/3qzieu.jpg"
= image_tag "http://t.qkme.me/2ft3.jpg"
= image_tag "http://t.qkme.me/3reyqs.jpg"
