<!DOCTYPE html>
<html>
<head>
  <title>Camel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <h1> my website </h1> 
 <%= link_to 'home', '/home' %>
 <%= link_to 'contacts', '/contacts' %>
 <%= link_to 'monkey', '/monkey' %>
 <%= link_to 'napoleon', '/napoleon' %>
<%= yield %>

</body>
</html>
